@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;700&display=swap');


*{
    box-sizing: border-box;
    
}
body{
    margin: 0 auto;
    width: 100vw;
    
}
.displayFlexRow{
    display: flex;
    flex-direction: row;
}
.displayFlexCol{
    display: flex;
    flex-direction: column;
}
.displayGrid{
    display: grid; 
}
.header{
    width: 100%;
    height: 30vh;
    
}

.ingeniumLogo{
    align-self: center;
    width: 75%;
    
    cursor: pointer;
    content: url(./imgsIngenium/LOGO-VER-2.png);
    
    max-width: 245px;
    max-height: 86px;

}
.infoProd{
    
    background: #9B004C ;
    color:white;
    
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    
}
.infoProd>div>h4,.infoProd>div>h2,.infoProd>div>div{
    padding: 0 4vw;
}
.infoProd>div>h4{
    
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
   
}
.infoProd>div>h2{
    
    font-weight: 700;
    font-family: 'Titillium Web', sans-serif;
   
}
.buttonOnline>a{
    text-decoration: none;
}

.buttonOnline{

}
.msgOnline{
    
    color: white;
    justify-content: flex-start;
    align-items: center;
 
}
.moveMargin{
    margin-right: 5%;
}
span.moveMargin {
    font-family: 'Titillium Web';
    font-weight: 700;
}

@media(min-width:1000px){
    .bannerProd{
        float: right;
        background-image: url('./imgsIngenium/INGENIEROS.png');
    }
    .header{
        height: 40vh;
       
    }
    #infoProd{
        float: left;
        width: 65%;
        background: linear-gradient(70deg, #9B004C 60vw, transparent 100px);
        height: 40vh;
    
        color:white;
        /*font-family: 'Titillium Web', sans-serif;*/
        padding: 0 4vw;/**/
    
        align-items: flex-end;
    }
    #infoProd>h4{
        margin-bottom: 0px;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 200;
        margin-top: -1vh;
        margin-left: 0;
    }
    #infoProd>h2{
        margin-top: 0px;
        font-weight: 700;
        font-family: 'Titillium Web', sans-serif;
        margin-left: 0;
        width: 80%;
    }
    .ingeniumLogo{
        width: 14vw;
        height: 50%;
    }
    .buttonOnline{
       
        padding: 0px;
        margin-top: 4vh;
    }
    
    .msgOnline{
        width: 50%;
        margin-left: 0%;
    }
}